.back_btn {
    border-radius: 20px;
    color: black;
    border: white;
    background-color: white;
    height: 25px;
    width: 130px;
    font-size: 12px;
    left: 20px;
    top: 30px;
    position: fixed;
}

h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 10px 10px 5px white;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(logs.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(logs.jpg);
}

.back_btn a {
    text-decoration: none;
    color: black;
}

#modal_window_files {
    height: auto;
    width: 400px;
    background-color: white;
    display: none;
    border-radius: 20px;
    border: white solid 1px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

#file_upload {
    padding: 10px;
}

.input_text_modal {
    border-radius: 10px;
    text-align: center;
    color: black;
    border: black;
    width: 100px;
    border: black solid 1px;
}

.btn3 {
    color: white;
    border: black;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
}

.btn2 {
    border-radius: 20px;
    color: black;
    border: white;
    background-color: white;
    margin-top: 2px;
    height: 25px;
    margin: 20px;
    width: 130px;
    font-size: 12px;
}

.btn4 {
    color: white;
    border: black;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    opacity: 0;
}

.tmp {
    color: red;
}

.element {
    color: white;
}

th {
    color: blue;
}

td {
    padding: 10px;
    width: 150px;
}

table {
    margin-top: 70px;
}
